name: Node.js CI

on:
  push:
    branches: [dev, stage, prod]
name: CI


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install dependencies
        run: npm install
      - name: Lint code
        run: npm run lint
      - name: Format code
        run: npm run prettier
      - name: Test code
        run: npm run test
      - name: Build code
        run: npm run build
